name: Build & Publish Release

on:
  release:
    types: [published]

jobs:
  build-and-deploy-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
          cache: maven

      - name: Start solo
        run: make solo-up  

      - name: Set version from tag
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          echo "Using version $TAG_NAME"
          mvn versions:set -DnewVersion=$TAG_NAME

      - name: Build Release jar
        run: mvn clean package -Pall

      - name: Deploy Release to GitHub Packages
        run: mvn deploy -Pall
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Stop solo
        run: make solo-down  